@model IEnumerable<MVC_Core.Models.UserTable>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobilePhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobilePhone)
            </td>
            @*
                這邊要注意到一個地方
                我們的ID是_ID 預設是官網預設id 所以不改就會爆掉

            如果還想帶值過去action,可以這樣
            @Html.ActionLink("詳情","detail","Student",new{id=item.id})
            代表帶的參數是id,裡面的值請自己看要塞什麼
            *@
            <td>
                @Html.ActionLink("Edit", "Edit", new{ _ID= item.UserId }) |
                @Html.ActionLink("Details", "Details", new { _ID=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { _ID = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
